
.card-img-top {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 18rem;
    height: 15rem;
    
}

.card-img-top1 {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 500px;
    height: 500px;
    
}
.team-name{
	color: #fff;
    text-align:center;
}

.vstext{
	text-align: left;
	margin-top: 18vh;
	color: #fff;
}

.cd{
	margin: 20px;
	padding: 5px;
}
.navbarc{
	background-color: blue;
}



